*{
    padding: 0px;
    border-radius: 10px;
   

}
body{
    background-color: palevioletred;
    display: flex;
    flex-direction: row;
    flex : auto;
    
   
    
   
}
.box1{
    
    width: 700px;
    height: 300px;
    border: solid black 1px;
    padding: 20px;
    box-sizing: content-box;
    background-color: white;
    display: flex;
    flex-shrink: 2;
    
    
}
.box2{
    
    width: 700px;
    height: 300px;
    border: solid black 1px;
    display: flex;
    flex-grow: 2;
    
    
    
    box-sizing: border-box;
    background-color: white;
}
a{
    
}
p{
    display: block;
}